@font-face { font-family: 'TrueLight'; src: url("../fonts/TLight.ttf") format("truetype"); }
@font-face { font-family: 'TrueMedium'; src: url("../fonts/TMedium.ttf") format("truetype"); }
@font-face { font-family: 'TrueBold'; src: url("../fonts/TtxtCB.ttf") format("truetype"); }
@font-face { font-family: 'TrueUltraLight'; src: url("../fonts/TtxtA.ttf") format("truetype"); }
body { font-size: 24px; background: #fbfbfb; }

a, a:hover { color: #444; text-decoration: none; }

h1 { font-weight: normal; margin-top: 30px; }

.blue-link { color: #3733ff; }

#backtotop-arrow { position: fixed; bottom: 1em; right: 5%; z-index: 30; display: none; }

#backtotop-arrow img { border: 1px solid #e83a27; border-radius: 50%; width: 40px; }

.margin-top-20 { margin-top: 20px; }

.header-section { border-top: 4px solid #e83a27; padding-top: 15px; padding-bottom: 10px; box-shadow: 0 5px 5px #dddddd; }

.ui-cart, .button_more { float: right; }

.shop-cart-link { background: url("../img/icon_cart.png") no-repeat center center; width: 46px; height: 41px; margin-right: 20px; background-size: 100% 100%; display: inline-block; position: relative; }

.shop-cart-link span { border-radius: 1.8rem; display: inline-block; background-color: #e83a27; height: 1.8rem; width: 1.8rem; color: #fff; text-align: center; font-size: .8rem; font-style: normal; line-height: 1.8rem; position: absolute; top: -.6rem; right: -.6rem; }

/*Search style*/
#search-box { position: relative; width: 100%; margin-top: 25px; }

#search-form { height: 70px; border: 2px solid #dddddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #fff; overflow: hidden; }

#search-text { font-size: 21px; color: #cdcdcd; border-width: 0; background: transparent; }

#search-box input[type="text"] { width: 90%; padding: 15px 0 12px 1em; color: #333333; outline: none; }

#search-button { position: absolute; top: 0; right: 0; height: 65px; width: 100px; font-size: 30px; color: #fff; text-align: center; line-height: 20px; border-width: 0; background-color: #95c126; box-shadow: 0px 5px #79ab18; -webkit-border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; border-radius: 0px 5px 5px 0px; cursor: pointer; }

.search-box-result { position: absolute; z-index: 99; width: 100%; background-color: #ffffff; }

.search-box-result ul { border-bottom: 1px solid #e83a27; margin-left: -35px; font-size: 14px; }

.search-box-result li { padding: 10px 0 10px 5px; list-style: none; border-bottom: 1px solid #e8e8e8; }

.search-box-result span { position: absolute; font-size: 14px; right: 1.2rem; margin-top: -4.0rem; color: #06C; padding-left: 1rem; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAi0lEQVQokZXRwQnCQBCF4S9GBEEQchJswgLSh5ACUoBXrwFB8OTBGuzFWmwhHpLIuqwLebeZN/88hin6vjdHhfaV6h9R4REby8TwBjes8cQ7NBcJ4Iz9mNDFZgwccArqFnUOuGMV1OXYK1NAE28LUtsYqAyH/tPFcNcX6LDLAFtcJ+AnMqMGdTH30x/InhLrbMwybwAAAABJRU5ErkJggg==) no-repeat left; -webkit-background-size: .6rem .6rem; -moz-background-size: .6rem .6rem; background-size: .6rem .6rem; z-index: 2; display: block; }

/*Slide*/
#carousel-example-generic { margin-top: 20px; }

.carousel-indicators li { background-color: #a4a4a4; border: none; }

.carousel-indicators .active { background-color: #e83a27; }

#cate_menu { background-color: #ffffff; border: 1px solid #dddddd; padding: 15px 0 15px 15px; -webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; font-size: 21px; }

#cate_menu img, .box_more img { float: right; margin: 5px 20px; }

.button_more { margin: 30px 15px 20px 0; }

.btn-more, .btn-more:hover { padding: 10px 35px; font-size: 18px; color: #ffffff; background-color: #95c126; border-color: none; }

.order-by { margin-top: 30px; position: absolute; right: 15px; }

.order-by .btn a { font-size: 19px; color: #959595; }

.order-by .active a { color: #e83a27; }

.order-by .active { background-color: #f0f0f0; }

/*superdeal*/
#everyday-wow-logo { width: 160px; margin-top: -20px; }

#image-superdeal { background: url("../img/image_superdeal.jpg"); color: #ffffff; height: 145px; padding: 15px 0 0 0; }

#image-superdeal ul { list-style: none; margin-left: -20px; }

#image-superdeal span { font-size: 21px; }

.superdeal-home-thumb { background: #ffffff; border: 1px solid #dddddd; height: 370px; position: relative; }

#home-superdeal3, #home-superdeal4 { margin-top: -1px; }

.superdeal-home-thumb .product-img, .col-medium .product-img { margin: auto; width: 100%; max-width: 220px; }

.superdeal-home-thumb .product-img img, .col-medium .product-img img { width: 100%; max-width: 220px; }

.superdeal-home-thumb .time-remaining { text-align: center; color: #e83a27; font-family: sans-serif; font-size: 16px; margin-top: 10px; }

.superdeal-home-thumb .price-superdeal h2, .col-medium .product-price h2, .col-big .product-price h2 { margin-top: 0; margin-bottom: -15px; font-family: 'TrueMedium'; font-size: 42px; color: #e83a27; }

.superdeal-home-thumb .price-superdeal span, .col-medium .product-price span, .col-big .product-price span { text-decoration: line-through; font-family: 'TrueMedium'; color: #b3b3b3; text-align: right; }

.superdeal-home-thumb .price-superdeal img, .col-medium .product-price img { width: 76px; position: absolute; right: 0; margin-right: 20px; }

.superdeal-home-thumb .price-superdeal .price-red, .superdeal-home-thumb .price-superdeal .price-line { position: absolute; right: 0; margin-right: 50px; margin-top: -5px; font-size: 48px; font-family: 'TrueBold'; color: #ffffff; z-index: 11; text-decoration: none; }

.superdeal-home-thumb .price-superdeal .price-line { margin-top: 20px; }

.superdeal-left { padding-right: 0; }

.superdeal-right { padding-left: 0; }

.superdeal-right .superdeal-home-thumb { border-left: none; }

.line-special { position: absolute; right: 0; margin-right: 20px; z-index: 10; }

.superdeal-right .line-special, .col-right .line-special { margin-right: 20px; }

.out-of-promotion { height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.6); position: absolute; z-index: 20; text-align: center; color: #ffffff; }

.out-of-promotion span { margin: auto; width: 100%; line-height: 19; padding: 15px 25px; font-size: 18px; background-color: #959595; }

/*Normal Thumbnail*/
.col-big { background: #ffffff; border: 1px solid #dddddd; height: 320px; font-size: 42px; font-family: 'TrueMedium'; }

.col-big .product-img { background: url("../img/dummy_product_img_02.jpg"); color: #ffffff; height: 250px; background-size: 100%; width: 100%; }

.col-big span { position: absolute; right: 0; margin-right: 20px; z-index: 10; color: #e83a27; }

.col-left { padding-right: 5px; }

.col-right { padding-left: 5px; }

.col-medium { background: #ffffff; border: 1px solid #dddddd; height: 370px; }

.margin-top-20.col-left, .margin-top-20.col-right { margin-top: 10px; }

.col-medium .product-name { white-space: nowrap; width: 100%; overflow: hidden; font-size: 18px; text-overflow: ellipsis; }

.col-medium .product-price { margin-top: 10px; }

.col-medium .product-price .price-discount { position: absolute; right: 0; margin-right: 50px; margin-top: -5px; font-size: 48px; font-family: 'TrueBold'; z-index: 11; text-decoration: none; color: #e83a27; }

/*footer*/
.footer ul { list-style: none; margin-left: -40px; font-size: 16px; }

.footer .bottom { background-color: #e8e8e8; padding-bottom: 20px; font-size: 16px; }

.footer .bottom .link-grey a, .footer .bottom .link-grey { color: #afafaf; }

/*CateList*/
.cate-list { width: 100%; padding-left: 0; padding-right: 0; }

.cate-list ul { margin-left: -40px; margin-bottom: -15px; }

.cate-list h1 { margin-left: 10px; }

.cate-list li { background-clip: border-box; background-color: #eeeeee; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAjCAYAAAD8BaggAAABD0lEQVRYhc3WoRLDIAwG4J/dKlsDBsv7PxOuLiB6dRXMrHe73Y4FmrDFEvEBgcSUUvBPcfs14D26QPu+qx1rM4iIyrquICIVVBOIiEpKCQCQUlJBsUGvmDM0UCzQJ4wWigXatq26LoligUIIZpqmISh2DY1CNb2yEajmf0gb1fVTa6K6e5kW6lJz1UBd7vbee0iijNQ8FGMsx3FUc6y1cM6ZWo7YPCR1faIDWgihunsAyDlX10VBMcbq7o0x8N6PAX2roRMzz7N+DUlhRECSmMsgacwlkAamG6SF6QJpYppB2pgm0AgMGzQKwwYtyzIEwwY554y1Vh3DBn1CaWAA4N6S/ByuSs5ZBQMIToxS8QDtjuHWiqKdGAAAAABJRU5ErkJggg=="); background-origin: padding-box; background-position: 96% 50%; background-repeat: no-repeat; background-size: 18px 18px; list-style: none; }

.cate-list li a { border-bottom: 1px solid #D1D1D1; padding-left: 10px; margin: 0 5px; height: 60px; line-height: 60px; display: block; color: #000; font-size: 21px; }

/*SuperDeal Page*/
.swiper-container { width: 100%; height: 350px; }

.swiper-slide { width: 480px; height: 100%; }

.swiper-slide h1 { margin-top: 0; font-size: 42px; font-family: 'TrueMedium'; }

.swiper-slide .time-remaining { text-align: right; font-size: 32px; margin-top: 5px; font-family: 'TrueMedium'; }

.swiper-slide .time-remaining .glyphicon { color: #e83a27; font-size: 21px; }

.swiper-slide .col-big { height: 270px; }

.swiper-slide .product-image { margin: auto; width: 100%; max-width: 220px; }

.swiper-slide .product-image img { max-height: 200px; }

.swiper-slide .col-big .price-red { color: #ffffff; margin-right: 33px; font-size: 44px; font-family: 'TrueBold'; margin-top: 0; }

.swiper-slide .col-big .product-price { padding-left: 0; padding-right: 0; }

.swiper-slide .col-big .product-price h2 { margin-right: 10px; text-align: right; }

.swiper-slide .col-big .product-price span { font-size: 24px; margin-right: 10px; }

.swiper-slide .col-big .price-superdeal img { width: 60px; position: absolute; right: 10px; top: 10px; }

.scroll-loading div { width: 16px; margin: auto; }

@media screen and (max-width: 320px) { .container-fluid { padding-left: 5px; padding-right: 5px; }
    .row { margin-left: -5px; margin-right: -5px; }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { padding-left: 5px; padding-right: 5px; }
    .margin-top-20 { margin-top: 15px; }
    .ui-logo img { width: 100%; margin-left: 10px; }
    h1 { font-size: 21px; margin-top: 25px; }
    #backtotop-arrow img { width: 35px; }
    .shop-cart-link { width: 33px; height: 31px; margin-top: 7px; }
    .cate-list li a { font-size: 16px; }
    /*Search style*/
    #search-box input[type="text"] { padding: 5px 0 0 1em; line-height: 1; }
    #search-form { height: 45px; }
    #search-text { font-size: 14px; }
    #search-button { height: 40px; width: 70px; font-size: 21px; }
    #cate_menu { padding: 10px 0 10px 10px; font-size: 18px; margin-top: 5px; }
    #cate_menu img { float: right; margin: 5px 20px; width: 6px; }
    .button_more { margin: 15px 5px 15px 0; }
    .btn-more, .btn-more:hover { padding: 2px 15px; font-size: 18px; }
    .order-by { margin-top: 25px; right: 5px; }
    .order-by img { margin-top: -4px; width: 8px; }
    .order-by .btn { padding: 3px 14px; }
    .order-by .btn a { font-size: 12px; }
    /*superdeal*/
    #everyday-wow-logo { width: 90px; }
    #image-superdeal { height: 120px; padding: 10px 0 0 0; font-size: 23px; }
    #image-superdeal ul { margin-left: -30px; }
    #image-superdeal span { font-size: 12px; }
    .superdeal-home-thumb { height: 240px; }
    .superdeal-home-thumb .time-remaining { font-size: 9px; }
    .superdeal-home-thumb .price-superdeal h2 { font-size: 30px; margin-top: -7px; }
    .superdeal-home-thumb .price-superdeal span, .col-medium .product-price span { font-size: 18px; }
    .superdeal-home-thumb .price-superdeal img, .col-medium .product-price img { width: 40px; margin-right: 5px; }
    .superdeal-home-thumb .price-superdeal .price-red, .superdeal-home-thumb .price-superdeal .price-line { margin-right: 21px; margin-top: -5px; font-size: 28px; }
    .superdeal-home-thumb .price-superdeal .price-line { margin-top: 8px; }
    .line-special { /*margin-top: -10px;*/ margin-right: 10px; }
    .superdeal-left { padding-right: 0; }
    .superdeal-right { padding-left: 0; }
    .superdeal-right .line-special, .col-right .line-special { margin-right: 5px; }
    .out-of-promotion span { line-height: 19; font-size: 14px; padding: 10px 15px; }
    /*Normal Thumbnail*/
    .col-left { padding-right: 5px; }
    .col-right { padding-left: 5px; }
    .col-big { height: 200px; font-size: 28px; }
    .col-big .product-img { height: 150px; }
    .col-big span { margin-right: 0; }
    .col-medium { height: 230px; }
    .col-medium .product-name { font-size: 18px; }
    .col-medium .product-price h2 { font-size: 21px; margin-top: -5px; }
    .col-medium .product-price .price-discount { margin-right: 20px; margin-top: -2px; font-size: 20px; }
    .col-medium .product-price img { width: 35px; }
    .footer { font-size: 14px; }
    .footer .bottom { font-size: 12px; }
    .cate-list h1 { margin-left: 5px; }
    /*SuperDeal Page*/
    .swiper-container { height: 230px; }
    .swiper-slide { width: 285px; }
    .swiper-slide h1 { font-size: 29px; }
    .swiper-slide .time-remaining { font-size: 21px; margin-top: 2px; }
    .swiper-slide .time-remaining .glyphicon { font-size: 14px; }
    .swiper-slide .col-big { height: 180px; }
    .swiper-slide .col-big p { margin-top: 5px; }
    .swiper-slide .product-image img { max-height: 125px; }
    .swiper-slide .col-big .price-red { margin-right: 19px; font-size: 25px; margin-top: 5px; }
    .swiper-slide .col-big .product-price { margin-top: 5px; }
    .swiper-slide .col-big .product-price h2 { font-size: 26px; margin-bottom: -10px; text-align: right; margin-right: 0; }
    .swiper-slide .col-big .product-price span { font-size: 21px; margin-right: 0; text-align: right; }
    .swiper-slide .col-big .price-superdeal img { width: 35px; right: 5px; } }
@media screen and (min-width: 321px) and (max-width: 480px) { /* Add your styles for devices with a maximum width of 320 */
    .container-fluid { padding-left: 5px; padding-right: 5px; }
    .row { margin-left: -5px; margin-right: -5px; }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { padding-left: 10px; padding-right: 10px; }
    h1 { font-size: 24px; font-weight: normal; margin-top: 20px; }
    .shop-cart-link { width: 33px; height: 31px; margin-top: 7px; margin-right: 10px; }
    .margin-top-20 { margin-top: 15px; }
    .ui-logo img { width: 100%; }
    .cate-list li a { font-size: 16px; }
    /*Search style*/
    #search-box { padding: 0 5px; }
    #search-form { height: 55px; }
    #search-text { font-size: 18px; }
    #search-button { height: 50px; width: 80px; font-size: 21px; right: 5px; }
    #cate_menu { padding: 15px 0 15px 10px; font-size: 18px; }
    #cate_menu img { float: right; margin: 5px 20px; width: 6px; }
    .button_more { margin: 15px 10px 15px 0; }
    .btn-more, .btn-more:hover { padding: 6px 20px; font-size: 16px; }
    .order-by { margin-top: 18px; right: 10px; }
    .order-by img { margin-top: -2px; width: 8px; }
    .order-by .btn { padding: 3px 14px; }
    .order-by .btn a { font-size: 17px; }
    /*superdeal*/
    #everyday-wow-logo { width: 110px; }
    .superdeal-home-thumb { height: 270px; }
    .superdeal-home-thumb .time-remaining { font-size: 12px; }
    .superdeal-home-thumb .price-superdeal h2, .col-medium .product-price h2 { font-size: 30px; }
    .superdeal-home-thumb .price-superdeal span, .col-medium .product-price span { font-size: 18px; }
    .superdeal-home-thumb .price-superdeal img, .col-medium .product-price img { width: 60px; margin-right: 5px; }
    .superdeal-home-thumb .price-superdeal .price-red, .superdeal-home-thumb .price-superdeal .price-line { margin-right: 29px; margin-top: -5px; font-size: 38px; }
    .superdeal-home-thumb .price-superdeal .price-line { margin-top: 14px; }
    .line-special { /*margin-top: -10px;*/ margin-right: 10px; }
    .superdeal-left { padding-right: 0; }
    .superdeal-right { padding-left: 0; }
    .superdeal-right .line-special, .col-right .line-special { margin-right: 10px; }
    .out-of-promotion span { line-height: 19; font-size: 14px; padding: 10px 15px; }
    /*Normal Thumbnail*/
    .col-big { height: 270px; font-size: 38px; }
    .col-big .product-img { height: 200px; }
    .col-big span { margin-right: 10px; }
    .col-left { padding-right: 5px; }
    .col-right { padding-left: 5px; }
    .col-medium { height: 260px; }
    .col-medium .product-name { font-size: 18px; }
    .col-medium .product-price .price-discount { margin-right: 25px; margin-top: -4px; font-size: 30px; }
    .col-medium .product-price img { width: 50px; }
    .footer { font-size: 14px; }
    .footer .bottom { font-size: 12px; }
    /*SuperDeal Page*/
    .swiper-container { height: 255px; }
    .swiper-slide { width: 310px; }
    .swiper-slide h1 { margin-top: 0; font-size: 30px; }
    .swiper-slide .time-remaining { font-size: 27px; margin-top: 2px; }
    .swiper-slide .time-remaining .glyphicon { font-size: 14px; }
    .swiper-slide .col-big { height: 195px; }
    .swiper-slide .product-image img { max-height: 135px; }
    .swiper-slide .col-big .price-red { margin-right: 28px; font-size: 30px; margin-top: 5px; }
    .swiper-slide .col-big .product-price { margin-top: 5px; }
    .swiper-slide .col-big .product-price h2 { font-size: 28px; margin-bottom: -10px; text-align: right; margin-right: 10px; }
    .swiper-slide .col-big .product-price span { font-size: 21px; text-align: right; }
    .swiper-slide .col-big .price-superdeal img { width: 45px; } }
#search-button { background-color: #818287; box-shadow: 0 5px #626368; }

.showroom-title a, .today-deals h1 span:first-child, .row-feature .col-xs-12:first-child > h1, .box_more, [style="color:#95c126;"] { color: #454f83 !important; }

/*# sourceMappingURL=style.css.map */
